html {
    scroll-behavior: smooth;
  }
body {
    background-image: linear-gradient(rgb(0, 87, 87), rgb(0, 173, 173));
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer"
    "att";
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
/* NAV */
.nav {
    grid-area: nav;
}
.nav a {
    background-color: blue;
    color: white;
    display: flex;
    flex-flow: column;
    text-align: center;
    border-bottom: 1px solid black;
    padding: .5em;
}
/* HEADER */
.header {
    grid-area: header;
}
.header h1 {
    text-align: center;
    font-size: 3em;
}
.header img {
    max-width: 100%;
    height: auto;
}
/* MAIN */
.main {
    grid-area: main;
    text-align: center;
}
.main p {
    padding: 0 1.7em;
}
.main img {
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main li {
    padding-bottom: .3em;
}
.gluggi {
    width:18em;
    height:10em;
}
/* FOOTER */
.footer {
    grid-area: footer;
    text-align: center;
}
.att {
    text-align: center;
    grid-area: att;
}
@media screen and (min-width: 25em) {
    .gluggi {
        width: 23em;
        height: 12.7em;
    }
}
@media screen and (min-width: 30em) {
    .gluggi {
        width: 28em;
        height: 15.75em;
    }
}
@media screen and (min-width: 37.5em) {

}
@media screen and (min-width: 48em) {
    .gluggi {
        width: 35em;
        height: 19.7em;
    }
    body {
        grid-template-areas: 
        "header nav"
        "main main"
        "footer footer"
        "att att";
        max-width: 80em;
        margin: auto;
    }
    .song {
        display: grid;
        grid-template-rows:1fr ;
        align-items: center;
    }
    .controls {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .footer {
        display: grid;
        grid-template-areas: 
        "left mid right";
    }
}
@media screen and (min-width: 60em) {
    .gluggi {
        width: 37.75em;
        height: 24.6em;
    }
    body {
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer"
        "att";
    }
    .nav a {
        flex-flow: column;
    }
}
