html {
    scroll-behavior: smooth;
  }
.body {
    grid-area: body;
    background-image: linear-gradient(rgb(60, 0, 255), rgb(235,28,28));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    display: grid;
    grid-template-areas:
    "container"
    "midja"
    "footer";
    grid-template-rows: 1fr 2fr 1fr;
    font-family: 'Fira Sans', sans-serif;
}
.body2 {
    grid-area: body;
    background-image: linear-gradient(rgb(60, 0, 255), rgb(235,28,28));
    background-repeat: no-repeat;
    background-attachment: fixed;
    grid-template-areas:
    "container"
    "main"
    "footer";
    grid-template-rows: 1fr 2fr 1fr;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}
/* Container */
.container {
    display: grid;
    grid-area: container;
    padding: 2em 0;
    color: white;
    max-width: 60em;
    margin: auto;
}
.verkefni {
    grid-area: verk;
}
.title {
    grid-area: title;
    margin: 0;
}
.topnav {
    grid-area: topnav;
}
/* Main */
.main {
    grid-area: main;
    display: grid;
    max-width: 60em;
    margin: auto;
    padding-top: 1em;
}
.main2 {
    grid-area: main;
    max-width: 60em;
    margin: auto;
    padding-top: 1em;
}
.innermenu {
    display: flex;
    justify-content: space-around;
    background-color: green;
}
.innermenu a {
    padding: .5em 1em;
}
.l2 {
    border-left: solid 1px white;
}
.l3 {
    border-left: solid 1px white;
}
.l4 {
    border-left: solid 1px white;
}
.l5 {
    border-left: solid 1px white;
}
.l6 {
    border-left: solid 1px white;
}
.hægri {
    grid-area: hægri;
    padding-left: 1em;
}
.vinstri {
    grid-area: vinstri;
    padding-right: 1em;
}
.gegn {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1em;
}
.stor {
    padding-bottom: 1em;
    font-size: 1.5em;
}
.midja {
    grid-area: midja;
    background-image: linear-gradient(rgb(28, 121, 235), rgb(28, 187, 235));
}
/* Footer */
.footer {
    display: grid;
    grid-area: footer;
    max-width: 60em;
    margin: auto;
    grid-template-areas: 
    "dl innri ytri";
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
}
.dl {
    grid-area: dl;
}
.innri {
    grid-area: innri;
}
.ytri {
    grid-area: ytri;
}
a {
    color: white;
    text-decoration: none;
}
.copy {
    text-align: center;
    color: white;
}
.topbutt {
    background-color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: blue;
    font-size: 2em;
    display: block;
    position: fixed;
    bottom: .5em;
    right: 1em;
    width: 1.5em;
    padding: .3em .2em;
}
@media screen and (min-width:22em) {
    .innermenu {
        flex-flow: column;
    }
    .verkefni {
        padding: 0;
    }
    .topbutt {
        right: .5em;
        padding: .2em .1em;
        font-size: 2em;
    }
    .container {
        grid-template-areas: 
        "verk"
        "title"
        "topnav";
    }
    .topnav {
        justify-content: space-around;
    }
    .main {
        grid-template-areas: 
        "vinstri" 
        "hægri";
    }
}
@media screen and (min-width:60em) {
    .innermenu {
        flex-flow: row;
    }
    .topnav {
        padding-top: 5em;
        text-align: right;
        word-spacing: 3em;
    }
    .container {
        grid-template-areas: 
        "title verk"
        "title topnav";
        grid-template-columns: 2fr 1fr;
    }
    .title {
        padding-top: 2em;
    }
    .verkefni {
        margin: 0;
        float: right;
    }
    .main {
        grid-template-areas: 
        "vinstri hægri";
        grid-template-columns: 1fr 1fr;
    }
}