* {
    box-sizing: border-box;
}
.body {
    text-align: justify;
    border: solid 1px black;
    max-width: 60em;
    margin: .5em auto;
    font-family: sans-serif;
    display: grid;
    grid-template-areas:
    "nav"
    "header"
    "main"

}
.main {
    display: grid;
    grid-area: main;
    grid-template-areas:
    "article article"
    "as1 as2"
    "footer footer";
    grid-template-columns: 1fr 1fr;
}
.nav {
    border-bottom: solid 1px black;
    grid-area: nav;
    display: flex;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    justify-content: space-around;
}
.header {
    border-bottom: solid 1px black;
    grid-area: header;
    text-align: center;
    padding: 1em;
}
.header h1 {
    color: goldenrod;
    font-size: 400%;
}
.a1 {
    border-right: solid 1px black;
    padding-right: 1em;
    padding-left: 1em;
    grid-area: as1;
    border-top: solid 1px black;
}
.a2 {
    border-top: solid 1px black;
    grid-area: as2;
    padding-right: 1em;
    padding-left: 1em;
}
.article {
    grid-area: article;
    padding-right: 2em;
    padding-left: 2em;
}
.footer {
    border-top: solid 1px black;
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    padding-bottom: 1em;
    grid-area: footer;
}
.box {
    border: solid 1px black;
    padding: 1em;
    margin: 1.5em;
}