<form method="POST">
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <div class="dalkur">
        <section class="vinstri">
            <label for="">Nafn:</label>
            <input type="text" required>
            <label for="">Simanumer:</label>
            <input type="number" required>
            <label for="">Netfang:</label>
            <input type="email" required>
            <label for="">Dagsetning:</label>
            <input type="date" required>
        </section>
        <section class="haegri">
            <div>
                <div class="box"><input type="checkbox" checked> val 1</div>
                <div class="box"><input type="checkbox"> val 2</div>
                <div class="box"><input type="checkbox"> val 3</div>
            </div>
            <div>
                <div class="box"><input type="radio" name="val" checked> val 1</div>
                <div class="box"><input type="radio" name="val"> val 2</div>
                <div class="box"><input type="radio" name="val"> val 3</div>
            </div>
        </section>
        <select>
            <option>Val 1</option>
            <option>Val 2</option>
            <option>Val 3</option>
        </select>
    </div>
    <input type="submit" value="Skra">
</form>