<header>
    <a href="home.html">
        <img src="logo.png" alt="logo" class="logo">
    </a>
    <input type="checkbox" id="takki">
    <label for="takki">&#9776</label>
    <nav>
        <li><a href="https://www.youtube.com/watch?v=plLHRFPNBSg" target="_blank">Hlekkur 1</a></li>
        <li><a href="https://www.youtube.com/watch?v=bb8c9cpa0aY" target="_blank">Hlekkur 2</a></li>
        <li><a href="https://www.youtube.com/watch?v=v_yLhCKB-jk" target="_blank">Hlekkur 3</a></li>
        <li><a href="https://www.youtube.com/watch?v=Ks2B5yArsas" target="_blank">Hlekkur 4</a></li>
    </nav>
</header>