<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/svg.css">
    <link rel="stylesheet" href="css/1.min.css">
    <title>Verkefni 7</title>
</head>
    <body>

        {% include "header.html" %}

        <main>
        {% block content %}
        
        {% endblock %}
        </main>
        
        <div class="rusl">
        {% include "form.html" %}

        {% include "table.html" %}
        </div>
        <a href="https://github.com/Nussari/Nussari.Github.io/tree/master/VEF%C3%9E2/verk7" target="_blank">Skildi ekki alveg hvert vinnugogn attu ad fara svo her er hlekkur</a>
        {% include "footer.html" %}

    </body>
</html>