<table>
    <thead>
        <tr>
            <th>Nafn</th>
            <th>Starf</th>
            <th>Aldur</th>
            <th>Bill</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Nafn">Jon</td>
            <td data-label="Starf">Bakari</td>
            <td data-label="Aldur">54</td>
            <td data-label="Bill">Toyota Corolla</td>
        </tr>
        <tr>
            <td data-label="Nafn">Magga</td>
            <td data-label="Starf">Rekstrarstjori</td>
            <td data-label="Aldur">43</td>
            <td data-label="Bill">BMW M3</td>
        </tr>
        <tr>
            <td data-label="Nafn">Sigga</td>
            <td data-label="Starf">Postsendill</td>
            <td data-label="Aldur">28</td>
            <td data-label="Bill">Kia Ceed</td>
        </tr>
        <tr>
            <td data-label="Nafn">Frikki</td>
            <td data-label="Starf">Ritari</td>
            <td data-label="Aldur">38</td>
            <td data-label="Bill">Renault Captur</td>
        </tr>
    </tbody>
</table>